In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import tabula

In [2]:
#path to pdf file
panetta_pdf = os.path.join(os.path.dirname(os.getcwd()), '../Data/Raw_data/NDE_Data/Panetta_Internal_Friction_and_Backscattering_Results.pdf')

In [3]:
# Reading and extracting tables from pdf file
tables = tabula.read_pdf(panetta_pdf, pages=[3,4,5,6,9], lattice=True, pandas_options={'header':0})

In [4]:
tables

[Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
          Sample ID  % CW % change\rfrom 0% CW  Standard\rError  \
 0   304, 0% - 1 CW     0                   0%            0.013
 1  304, 20% - 1 CW    20                  50%            0.014
 2  304, 40% - 1 CW    40                  57%            0.022
 3  304, 60% - 1 CW    60                  98%            0.010
 4  304, 80% - 1 CW    80                  94%            0.024

   Standard\rError (%)
 0                2.9%
 1                2.0%
 2                3.0%
 3                1.1%
 4                2.7%  ,
            Sample % change from\r0% CW  Standard\rError Standard\rError (%)
 0  304, 0% - 1 CW                  50%            0.014                2.0%
 1     304-20-3 CW                  42%            0.014                2.1%
 2     304-20-4 CW                  53%            0.022                3.1%
 3     304-20-5 CW                  42%            0.012                1.9%,
 Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
           Sample ID  % CW % change\rfrom 0% CW  Standard\rError  \
 0    316, 0% - 1 CW     0                   0%            0.021
 1  316, 20% - 1  CW    20                  42%            0.032
 2  316, 40% - 1  CW    40                  70%            0.007
 3  316, 60% - 1  CW    60                 117%            0.017
 4  316, 80% - 1  CW    80                 113%            0.024

   Standard\rError (%)
 0                4.6%
 1                5.0%
 2                1.0%
 3                1.8%
 4                2.5%  ,
              Sample % change from\r0% CW  Standard\rError Standard\rError (%)
 0  316 40%-1 Monday                  73%            0.008                1.1%
 1  316 40%-1 Friday                  70%            0.007                1.0%
 2         316 40%-3                  65%            0.012                1.6%
 3         316 40%-4                  69%            0.008                1.1%
 4         316-40%-5                  76%            0.016                2.1%,
 Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
        Sample ID  % CW % change\rfrom 0% CW  Standard\rError  \
 0     347, 0% CW     0                   0%            0.012
 1  347, 20% CW 1    20                 195%            0.022
 2    347, 40% CW    40                 182%            0.006
 3  347, 60% CW 1    60                 206%            0.030
 4    347, 80% CW    80                 206%            0.018

   Standard\rError (%)
 0                4.6%
 1                2.7%
 2                0.8%
 3                3.7%
 4                2.2%  ,
           Sample % change from\r0% CW  Standard\rError Standard\rError (%)
 0  347, 60% CW 1                 206%            0.030                3.7%
 1  347, 60% CW 3                 208%            0.019                2.3%
 2  347, 60% CW 4                 233%            0.019                2.1%
 3  347, 60% CW 5                 214%            0.029                3.5%,
 Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
         Sample ID  % CW % change\rfrom 0% CW  Standard\rError  \
 0     A286, 0% CW     0                   0%            0.010
 1    A286, 20% CW    20                 601%            0.023
 2    A286, 40% CW    40                 523%            0.023
 3    A286, 60% CW    60                 530%            0.013
 4  A286, 80%-1 CW    80                 501%            0.025

   Standard\rError (%)
 0                4.6%
 1                1.6%
 2                1.8%
 3                1.0%
 4                2.0%  ,
            Sample % change from\r0% CW  Standard\rError Standard\rError (%)
 0  A286, 80%-1 CW                 501%            0.025                2.0%
 1    A286-80-3 CW                 423%            0.007                0.6%
 2    A286-80-4 CW                 403%            0.032                3.1%
 3    A286-80-5 CW                 397%            0.028                2.7%,
 Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
          Sample ID  % CW % change\rfrom 0% CW  Standard\rError  \
 0   304, 0% - 1 CW     0                   0%            0.005
 1  304, 20% - 1 CW    20                  59%            0.006
 2  304, 40% - 1 CW    40                  79%            0.012
 3  304, 60% - 1 CW    60                 139%            0.015
 4  304, 80% - 1 CW    80                 149%            0.021

   Standard\rError (%)
 0                1.3%
 1                1.1%
 2                1.9%
 3                1.7%
 4                2.4%  ,
           Sample ID  % CW % change\rfrom 0% CW  Standard\rError  \
 0    316, 0% - 1 CW     0                   0%            0.010
 1  316, 20% - 1  CW    20                  37%            0.004
 2  316, 40% - 1  CW    40                  60%            0.005
 3  316, 60% - 1  CW    60                 200%            0.013
 4  316, 80% - 1  CW    80                 131%            0.063

   Standard\rError (%)
 0                2.4%
 1                0.7%
 2                0.8%
 3                1.0%
 4                6.6%  ,
        Sample ID  % CW % change\rfrom 0% CW  Standard\rError  \
 0     347, 0% CW     0                   0%            0.002
 1  347, 20% CW 1    20                 202%            0.060
 2    347, 40% CW    40                 241%            0.017
 3  347, 60% CW 1    60                 287%            0.015
 4    347, 80% CW    80                 255%            0.008

   Standard\rError (%)
 0                1.0%
 1                9.5%
 2                2.3%
 3                1.8%
 4                1.0%  ,
         Sample ID  % CW % change\rfrom 0% CW  Standard\rError  \
 0     A286, 0% CW     0                   0%            0.003
 1    A286, 20% CW    20                1136%            0.011
 2    A286, 40% CW    40                 817%            0.015
 3    A286, 60% CW    60                 880%            0.016
 4  A286, 80%-1 CW    80                 759%            0.022

   Standard\rError (%)
 0                1.7%
 1                0.5%
 2                1.0%
 3                0.9%
 4                1.5%  ]

In [5]:
# Creating a new list of required tables
new_table = tables[1],tables[4],tables[7],tables[10],tables[13],tables[14],tables[15],tables[16]

In [6]:
column_names=['Sample ID', '% CW', '% change from 0% CW', 'Standard Error','Standard Error (%)']

In [7]:
# Correcting columns names
for i in range(0,len(new_table)):
    new_table[i].columns = column_names

In [11]:
new_table[3]

        Sample ID  % CW % change from 0% CW  Standard Error Standard Error (%)
0     A286, 0% CW     0                  0%           0.010               4.6%
1    A286, 20% CW    20                601%           0.023               1.6%
2    A286, 40% CW    40                523%           0.023               1.8%
3    A286, 60% CW    60                530%           0.013               1.0%
4  A286, 80%-1 CW    80                501%           0.025               2.0%

In [8]:
tables_2 = tabula.read_pdf(panetta_pdf, pages=[11], lattice=True, pandas_options={'header':0})

In [9]:
#backscattering table
tables_2[1]

,Sample ID,% CW,% change\rfrom 0%\rCW,Sample ID.1,% change\rfrom 0%\rCW.1,Sample ID.2,% change\rfrom 0%\rCW.2,Sample ID.3,% change\rfrom 0%\rCW.3
0,"304, 0% - 1 CW",0,0%,"316, 0% - 1 CW",0%,"347, 0% CW",0%,"A286, 0% CW",0%
1,"304, 20% - 1 CW",20,-12%,"316, 20% - 1 CW",30%,"347, 20% CW 1",-25%,"A286, 20% CW",-18%
2,"304, 40% - 1 CW",40,-20%,"316, 40% - 1 CW",-34%,"347, 40% CW",-28%,"A286, 40% CW",-46%
3,"304, 60% - 1 CW",60,3%,"316, 60% - 1 CW",-57%,"347, 60% CW 1",-33%,"A286, 60% CW",-40%
4,"304, 80% - 1 CW",80,10%,"316, 80% - 1 CW",-69%,"347, 80% CW",-39%,"A286, 80%-1 CW",-64%

In [12]:
column_names_2=['Sample ID', '% CW', '% change from 0% CW', 'Sample ID',\
       '% change from 0% CW', 'Sample ID', '% change from 0% CW',\
       'Sample ID', '% change from 0% CW']

In [13]:
# Correcting columns names
tables_2[1].columns=column_names_2

In [14]:
tables_2[1]

,Sample ID,% CW,% change from 0% CW,Sample ID,% change from 0% CW,Sample ID,% change from 0% CW,Sample ID,% change from 0% CW
0,"304, 0% - 1 CW",0,0%,"316, 0% - 1 CW",0%,"347, 0% CW",0%,"A286, 0% CW",0%
1,"304, 20% - 1 CW",20,-12%,"316, 20% - 1 CW",30%,"347, 20% CW 1",-25%,"A286, 20% CW",-18%
2,"304, 40% - 1 CW",40,-20%,"316, 40% - 1 CW",-34%,"347, 40% CW",-28%,"A286, 40% CW",-46%
3,"304, 60% - 1 CW",60,3%,"316, 60% - 1 CW",-57%,"347, 60% CW 1",-33%,"A286, 60% CW",-40%
4,"304, 80% - 1 CW",80,10%,"316, 80% - 1 CW",-69%,"347, 80% CW",-39%,"A286, 80%-1 CW",-64%

In [33]:
# Creating a new list of required repeated experiments tables
repeat_table = tables[2],tables[5],tables[8],tables[11]

In [34]:
repeat_columns=['Sample', '% change from 0% CW', 'Standard Error','Standard Error (%)']

In [36]:
# Correcting columns names for repeat experiments
for i in range(0,len(repeat_table)):
    repeat_table[i].columns = repeat_columns

In [60]:
# Corrections in Repeat Tables
repeat_table[0].iloc[[0],[0]]='304-20-1 CW'
repeat_table[1].iloc[[0],[0]]='316 40%-1'
repeat_table[1].iloc[[1],[0]]='316 40%-1'
repeat_table[3].iloc[[0],[0]]='A286-80-1 CW'

In [69]:
repeat_table[2]

          Sample % change from 0% CW  Standard Error Standard Error (%)
0  347, 60% CW 1                206%           0.030               3.7%
1  347, 60% CW 3                208%           0.019               2.3%
2  347, 60% CW 4                233%           0.019               2.1%
3  347, 60% CW 5                214%           0.029               3.5%

In [70]:
#Extracting CSV
table_names = ['UT_internal_friction_SS304_2_25MHz', 'UT_internal_friction_SS316_2_25MHz', 'UT_internal_friction_SS347_2_25MHz', 'UT_internal_friction_SSA286_2_25MHz',\
              'UT_internal_friction_SS304_3_5MHz', 'UT_internal_friction_SS316_3_5MHz', 'UT_internal_friction_SS347_3_5MHz', 'UT_internal_friction_SSA286_3_5MHz']

for table, name in zip(new_table, table_names):
    table.to_csv(os.path.join(os.path.dirname(os.getcwd()), '../Data/Extracted_data/'+name+'.csv'),index=False)

repeat_expt = ['UT_internal_friction_SS304_2_25MHz_rep20', 'UT_internal_friction_SS316_2_25MHz_rep40', 'UT_internal_friction_SS347_2_25MHz_rep60', 'UT_internal_friction_SSA286_2_25MHz_rep80']

for table, name in zip(repeat_table, repeat_expt):
    table.to_csv(os.path.join(os.path.dirname(os.getcwd()), '../Data/Extracted_data/'+name+'.csv'),index=False)

In [71]:
bs = os.path.join(os.path.dirname(os.getcwd()), '../Data/Extracted_data/UT_backscattering.csv')

In [72]:
tables_2[1].to_csv(bs,index=False)