In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import tabula

In [2]:
#path to pdf file
panetta_pdf = os.path.join(os.path.dirname(os.getcwd()), '../Data/Raw_data/NDE_Data/Panetta_Internal_Friction_and_Backscattering_Results_updated.pdf')

In [3]:
# Reading and extracting tables from pdf file
tables = tabula.read_pdf(panetta_pdf, pages=[3,4,5,6,9], lattice=True, pandas_options={'header':0})

In [4]:
tables

[Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
          Sample ID  %\rCW   Q-1 % change\rfrom 0%\rCW  Standar\rd Error  \
 0   304, 0% - 1 CW      0  0.46                    0%             0.013
 1  304, 20% - 1 CW     20  0.69                   50%             0.014
 2  304, 40% - 1 CW     40  0.72                   57%             0.022
 3  304, 60% - 1 CW     60  0.91                   98%             0.010
 4  304, 80% - 1 CW     80  0.89                   94%             0.024

   Standard\rError (%)
 0                2.9%
 1                2.0%
 2                3.0%
 3                1.1%
 4                2.7%  ,
             Sample   Q-1 % change\rfrom 0% CW  Standard\rError  \
 0  304, 20% - 1 CW  0.69                  50%            0.014
 1      304-20-3 CW  0.65                  42%            0.014
 2      304-20-4 CW  0.70                  53%            0.022
 3      304-20-5 CW  0.65                  42%            0.012

   Standard\rError (%)
 0                2.0%
 1                2.1%
 2                3.1%
 3                1.9%  ,
 Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
           Sample ID  % CW   Q-1 % change\rfrom 0% CW  Standard\rError  \
 0    316, 0% - 1 CW     0  0.46                   0%            0.030
 1  316, 20% - 1  CW    20  0.61                  34%            0.026
 2  316, 40% - 1  CW    40  0.71                  57%            0.006
 3  316, 60% - 1  CW    60  0.89                  96%            0.014
 4  316, 80% - 1  CW    80  0.88                  92%            0.018

   Standard\rError (%)
 0                6.5%
 1                4.3%
 2                0.8%
 3                1.6%
 4                2.1%  ,
              Sample   Q-1 % change\rfrom 0% CW  Standard\rError  \
 0  316 40%-1 Monday  0.72                  58%            0.009
 1  316 40%-1 Friday  0.71                  57%            0.006
 2         316 40%-3  0.71                  55%            0.011
 3         316 40%-4  0.72                  59%            0.008
 4         316-40%-5  0.75                  63%            0.014

   Standard\rError (%)
 0                1.2%
 1                0.8%
 2                1.5%
 3                1.1%
 4                1.9%  ,
 Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
        Sample ID  % CW   Q-1 % change\rfrom 0% CW  Standard\rError  \
 0     347, 0% CW     0  0.27                   0%            0.012
 1  347, 20% CW 1    20  0.79                 195%            0.022
 2    347, 40% CW    40  0.75                 182%            0.006
 3  347, 60% CW 1    60  0.82                 206%            0.030
 4    347, 80% CW    80  0.82                 206%            0.018

   Standard\rError (%)
 0                4.6%
 1                2.7%
 2                0.8%
 3                3.7%
 4                2.2%  ,
           Sample   Q-1 % change\rfrom 0% CW  Standard\rError  \
 0  347, 60% CW 1  0.82                 206%            0.030
 1  347, 60% CW 3  0.83                 208%            0.019
 2  347, 60% CW 4  0.89                 233%            0.019
 3  347, 60% CW 5  0.84                 214%            0.029

   Standard\rError (%)
 0                3.7%
 1                2.3%
 2                2.1%
 3                3.5%  ,
 Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
         Sample ID  % CW  Q-1 % change\rfrom 0% CW  Standard\rError  \
 0     A286, 0% CW     0  0.2                   0%            0.010
 1    A286, 20% CW    20  1.5                 601%            0.023
 2    A286, 40% CW    40  1.3                 523%            0.023
 3    A286, 60% CW    60  1.3                 530%            0.013
 4  A286, 80%-1 CW    80  1.2                 501%            0.025

   Standard\rError (%)
 0                4.6%
 1                1.6%
 2                1.8%
 3                1.0%
 4                2.0%  ,
            Sample  Q-1 % change\rfrom 0% CW  Standard\rError  \
 0  A286, 80%-1 CW  1.2                 501%            0.025
 1    A286-80-3 CW  1.1                 423%            0.007
 2    A286-80-4 CW  1.0                 403%            0.032
 3    A286-80-5 CW  1.0                 397%            0.028

   Standard\rError (%)
 0                2.0%
 1                0.6%
 2                3.1%
 3                2.7%  ,
 Empty DataFrame
 Columns: [INNOVATIVE SOLUTIONS TO COMPLEX PROBLEMS]
 Index: [],
          Sample ID  % CW  Q-1 % change\rfrom 0% CW  Standard\rError  \
 0   304, 0% - 1 CW     0  0.4                   0%            0.005
 1  304, 20% - 1 CW    20  0.6                  59%            0.006
 2  304, 40% - 1 CW    40  0.6                  79%            0.012
 3  304, 60% - 1 CW    60  0.8                 139%            0.015
 4  304, 80% - 1 CW    80  0.9                 149%            0.021

   Standard\rError (%)
 0                1.3%
 1                1.1%
 2                1.9%
 3                1.7%
 4                2.4%  ,
           Sample ID  % CW  Q-1 % change\rfrom 0% CW  Standard\rError  \
 0    316, 0% - 1 CW     0  0.4                   0%            0.010
 1  316, 20% - 1  CW    20  0.6                  37%            0.004
 2  316, 40% - 1  CW    40  0.7                  60%            0.005
 3  316, 60% - 1  CW    60  1.2                 200%            0.013
 4  316, 80% - 1  CW    80  1.0                 131%            0.063

   Standard\rError (%)
 0                2.4%
 1                0.7%
 2                0.8%
 3                1.0%
 4                6.6%  ,
        Sample ID  % CW  Q-1 % change\rfrom 0% CW  Standard\rError  \
 0     347, 0% CW     0  0.2                   0%            0.002
 1  347, 20% CW 1    20  0.6                 202%            0.060
 2    347, 40% CW    40  0.7                 241%            0.017
 3  347, 60% CW 1    60  0.8                 287%            0.015
 4    347, 80% CW    80  0.7                 255%            0.008

   Standard\rError (%)
 0                1.0%
 1                9.5%
 2                2.3%
 3                1.8%
 4                1.0%  ,
         Sample ID  % CW  Q-1 % change\rfrom 0% CW  Standard\rError  \
 0     A286, 0% CW     0  0.2                   0%            0.003
 1    A286, 20% CW    20  2.1                1136%            0.011
 2    A286, 40% CW    40  1.6                 817%            0.015
 3    A286, 60% CW    60  1.7                 880%            0.016
 4  A286, 80%-1 CW    80  1.5                 759%            0.022

   Standard\rError (%)
 0                1.7%
 1                0.5%
 2                1.0%
 3                0.9%
 4                1.5%  ]

In [19]:
tables[16].columns

Index(['Sample ID', '% CW', 'Q-1', '% change\rfrom 0% CW', 'Standard\rError',
       'Standard\rError (%)'],
      dtype='object')

In [20]:
# Creating a new list of required tables
new_table = tables[1],tables[4],tables[7],tables[10],tables[13],tables[14],tables[15],tables[16]

In [21]:
column_names=['Sample ID', '% CW', 'Q-1', '% change from 0% CW', 'Standard Error','Standard Error (%)']

In [22]:
# Correcting columns names
for i in range(0,len(new_table)):
    new_table[i].columns = column_names

In [23]:
new_table[3]

,Sample ID,% CW,Q-1,% change from 0% CW,Standard Error,Standard Error (%)
0,"A286, 0% CW",0,0.2,0%,0.010,4.6%
1,"A286, 20% CW",20,1.5,601%,0.023,1.6%
2,"A286, 40% CW",40,1.3,523%,0.023,1.8%
3,"A286, 60% CW",60,1.3,530%,0.013,1.0%
4,"A286, 80%-1 CW",80,1.2,501%,0.025,2.0%

In [24]:
tables_2 = tabula.read_pdf(panetta_pdf, pages=[11], lattice=True, pandas_options={'header':0})

In [26]:
#backscattering table
tables_2[1].columns

Index(['Sample ID', '% CW', 'Backscattering\rAmplitude',
       '% change\rfrom 0% CW', 'Sample ID.1', 'Backscattering\rAmplitude.1',
       '% change\rfrom 0% CW.1', 'Sample ID.2', 'Backscattering\rAmplitude.2',
       '% change\rfrom 0% CW.2', 'Sample ID.3', 'Backscattering\rAmplitude.3',
       '% change\rfrom 0% CW.3'],
      dtype='object')

In [28]:
column_names_2=['Sample ID', '% CW', 'Backscattering Amplitude',\
                '% change from 0% CW', 'Sample ID', 'Backscattering Amplitude',\
                '% change from 0% CW', 'Sample ID', 'Backscattering Amplitude',\
                '% change from 0% CW', 'Sample ID', 'Backscattering Amplitude',\
                '% change from 0% CW']

In [29]:
# Correcting columns names
tables_2[1].columns=column_names_2

In [30]:
tables_2[1]

,Sample ID,% CW,Backscattering Amplitude,% change from 0% CW,Sample ID,Backscattering Amplitude,% change from 0% CW,Sample ID,Backscattering Amplitude,% change from 0% CW,Sample ID,Backscattering Amplitude,% change from 0% CW
0,"304, 0% - 1 CW",0,11.1,0%,"316, 0% - 1 CW",10.72,0%,"347, 0% CW",15.44,0%,"A286, 0% CW",9.63,0%
1,"304, 20% - 1 CW",20,9.8,-12%,"316, 20% - 1 CW",13.97,30%,"347, 20% CW 1",11.56,-25%,"A286, 20% CW",7.85,-18%
2,"304, 40% - 1 CW",40,8.9,-20%,"316, 40% - 1 CW",7.03,-34%,"347, 40% CW",11.04,-28%,"A286, 40% CW",5.21,-46%
3,"304, 60% - 1 CW",60,11.4,3%,"316, 60% - 1 CW",4.61,-57%,"347, 60% CW 1",10.27,-33%,"A286, 60% CW",5.74,-40%
4,"304, 80% - 1 CW",80,12.2,10%,"316, 80% - 1 CW",3.34,-69%,"347, 80% CW",9.35,-39%,"A286, 80%-1 CW",3.42,-64%

In [31]:
# Creating a new list of required repeated experiments tables
repeat_table = tables[2],tables[5],tables[8],tables[11]

In [43]:
repeat_table[3]

           Sample  Q-1 % change from 0% CW  Standard Error Standard Error (%)
0  A286, 80%-1 CW  1.2                501%           0.025               2.0%
1    A286-80-3 CW  1.1                423%           0.007               0.6%
2    A286-80-4 CW  1.0                403%           0.032               3.1%
3    A286-80-5 CW  1.0                397%           0.028               2.7%

In [44]:
repeat_columns=['Sample', 'Q-1', '% change from 0% CW', 'Standard Error','Standard Error (%)']

In [45]:
# Correcting columns names for repeat experiments
for i in range(0,len(repeat_table)):
    repeat_table[i].columns = repeat_columns

In [50]:
# Corrections in Repeat Tables
repeat_table[0].iloc[[0],[0]]='304-20-1 CW'
repeat_table[1].iloc[[0],[0]]='316 40%-1'
repeat_table[1].iloc[[1],[0]]='316 40%-1'
repeat_table[1].iloc[[4],[0]]='316 40%-5'
repeat_table[3].iloc[[0],[0]]='A286-80-1 CW'

In [53]:
repeat_table[3]

         Sample  Q-1 % change from 0% CW  Standard Error Standard Error (%)
0  A286-80-1 CW  1.2                501%           0.025               2.0%
1  A286-80-3 CW  1.1                423%           0.007               0.6%
2  A286-80-4 CW  1.0                403%           0.032               3.1%
3  A286-80-5 CW  1.0                397%           0.028               2.7%

In [54]:
#Extracting CSV
table_names = ['UT_internal_friction_SS304_2_25MHz_up', 'UT_internal_friction_SS316_2_25MHz_up', 'UT_internal_friction_SS347_2_25MHz_up', 'UT_internal_friction_SSA286_2_25MHz_up',\
              'UT_internal_friction_SS304_3_5MHz_up', 'UT_internal_friction_SS316_3_5MHz_up', 'UT_internal_friction_SS347_3_5MHz_up', 'UT_internal_friction_SSA286_3_5MHz_up']

for table, name in zip(new_table, table_names):
    table.to_csv(os.path.join(os.path.dirname(os.getcwd()), '../Data/Extracted_data/'+name+'.csv'),index=False)

repeat_expt = ['UT_internal_friction_SS304_2_25MHz_rep20_up', 'UT_internal_friction_SS316_2_25MHz_rep40_up', 'UT_internal_friction_SS347_2_25MHz_rep60_up', 'UT_internal_friction_SSA286_2_25MHz_rep80_up']

for table, name in zip(repeat_table, repeat_expt):
    table.to_csv(os.path.join(os.path.dirname(os.getcwd()), '../Data/Extracted_data/'+name+'.csv'),index=False)

In [55]:
bs = os.path.join(os.path.dirname(os.getcwd()), '../Data/Extracted_data/UT_backscattering_up.csv')

In [56]:
tables_2[1].to_csv(bs,index=False)