In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import tabula
import glob

In [4]:
#path to input file
input_path = glob.glob(os.path.join('../../Data/Extracted_data', "UT_internal_friction*.csv"))

In [11]:
# Reading the selected UT data (Total data tables = 12)
UT_tables = []
for filename in input_path:
    df = pd.read_csv(filename)
    UT_tables.append(df)

In [12]:
UT_tables[11]

        Sample ID  % CW % change from 0% CW  Standard Error Standard Error (%)
0     A286, 0% CW     0                  0%           0.003               1.7%
1    A286, 20% CW    20               1136%           0.011               0.5%
2    A286, 40% CW    40                817%           0.015               1.0%
3    A286, 60% CW    60                880%           0.016               0.9%
4  A286, 80%-1 CW    80                759%           0.022               1.5%

In [13]:
# Removing '%' sign from the data and converting it into float format
for i in range(0,len(UT_tables)):
    UT_tables[i]["% change from 0% CW"] = list(map(lambda x: x[:-1], UT_tables[i]["% change from 0% CW"].values))
    UT_tables[i]["% change from 0% CW"] = [float(x) for x in UT_tables[i]["% change from 0% CW"].values]
    UT_tables[i]["Standard Error (%)"]= list(map(lambda x: x[:-1], UT_tables[i]["Standard Error (%)"].values))
    UT_tables[i]["Standard Error (%)"] = [float(x) for x in UT_tables[i]["Standard Error (%)"].values]

In [14]:
UT_tables[11].dtypes

Sample ID               object
% CW                     int64
% change from 0% CW    float64
Standard Error         float64
Standard Error (%)     float64
dtype: object

In [15]:
# Creating a new column 'change from 0% CW' - The metric equivalent to % values
for i in range(0,len(UT_tables)):
    UT_tables[i]["change from 0% CW"]=UT_tables[i]["% change from 0% CW"]*UT_tables[i]["Standard Error"]/UT_tables[i]["Standard Error (%)"]

In [16]:
UT_tables[1]

,Sample,% change from 0% CW,Standard Error,Standard Error (%),change from 0% CW
0,304-20-1 CW,50.0,0.014,2.0,0.350000
1,304-20-3 CW,42.0,0.014,2.1,0.280000
2,304-20-4 CW,53.0,0.022,3.1,0.376129
3,304-20-5 CW,42.0,0.012,1.9,0.265263

In [5]:
bs_input = os.path.join(os.path.dirname(os.getcwd()), '../Data/Extracted_data/UT_backscattering.csv')

In [8]:
bs_table=pd.read_csv(bs_input)

In [18]:
BS_tables = []
for i in range(0,len(bs_table.index)):
    if i%5==0:
        BS_tables.append(bs_table.iloc[i:i+5])

In [24]:
BS_tables[3]

         Sample ID % change from 0% CW
15     A286, 0% CW                  0%
16    A286, 20% CW                -18%
17    A286, 40% CW                -46%
18    A286, 60% CW                -40%
19  A286, 80%-1 CW                -64%

In [17]:
#bs_table_names = ['UT_back_scattering_SS304_15MHz', 'UT_back_scattering_SS316_15MHz', 'UT_back_scattering_SS347_15MHz', 'UT_back_scattering_SSA286_15MHz']

5

In [12]:
#for table, name in zip(BS_tables, bs_table_names):
#    table.to_csv(os.path.join(os.path.dirname(os.getcwd()), '../Data/Extracted_data/'+name+'.csv'),index=False)

In [15]:
UT_BS_2

          Sample ID % change from 0% CW
5    316, 0% - 1 CW                  0%
6  316, 20% - 1  CW                 30%
7  316, 40% - 1  CW                -34%
8  316, 60% - 1  CW                -57%
9  316, 80% - 1  CW                -69%