In [2]:
import pandas as pd
import os

In [40]:
electric = os.path.join(os.path.dirname(os.getcwd()),'../Data/Raw_data/Electric_Anisotropy_&_Magnetic_Permeability_Data.xlsx')

electric = pd.read_excel(electric,sheet_name=[3,4,5,6,7], header=None)

output = os.path.join(os.path.dirname(os.getcwd()),'../Data/Extracted_data/Electric_58.csv')

# ACPD

In [9]:
#Cracked Specimen
cracked = electric[3].iloc[7:20, 0:5]
cracked.set_index([0], inplace=True)
cracked.reset_index(inplace=True, drop=True)
cracked.columns=cracked.iloc[0]
cracked.drop([0,1,2,3,4,5,6,11,12], inplace=True)
cracked.reset_index(inplace=True, drop=True)
cracked=pd.DataFrame(cracked.mean())
cracked.columns=[""]
cracked=cracked.reset_index()
cracked.columns=["ID","ACPD_Avg_58"]

cracked

cracked

       ID  ACPD_Avg_58
0     36C    43.595593
1     31C    -2.537056
2      6C     6.282385
3     29C     3.329152

In [30]:
#ACPD anisotropy (4 Hz) sheet taking the average data for 5-8
aniso_4=electric[4].iloc[6:16, [2,3,4,5,13,14,15,16]]
aniso_4.reset_index(inplace=True, drop=True)
aniso_4.columns = aniso_4. iloc[0] 
aniso_4=aniso_4.drop([0, 1])
aniso_4

0 specimens  NaN  NaN  NaN   average (5-8)      NaN      NaN      NaN
2       41C  43C  44C  45C         4.80475  3.86943  3.37073  4.18664
3        7C  13C   8C  35C         3.43845  3.72551  3.52932  3.05065
4       24C  34C   9C  10C         4.25998  3.57996  3.95827  2.57964
5       19C  30C  32C  46C         3.22696  3.30528  2.90792  3.52697
6       23C  25C  21C  47C         3.06174  3.28409  2.76486  3.70153
7       26C  27C  28C  48C         3.82088  2.74663  2.83963  4.22533
8       37C  39C  42C  49C         2.37519  3.18645  4.04456  3.61135
9       20C  14C  38C  16C         2.64682  3.29139  3.54165  2.44615

In [32]:

#Getting ID columns for specimens
specimens=aniso_4.iloc[:, :4]
specimens.columns=['s1','s2','s3','s4'] # filling empty column names
specimens=specimens.stack().reset_index()
specimens.drop(['level_0', 'level_1'], axis=1, inplace=True)
specimens.columns=['ID']


avg_58=aniso_4.iloc[:, 4:]
avg_58.columns=['a1','a2','a3','a4'] 
avg_58=avg_58.stack().reset_index()
avg_58.drop(['level_0', 'level_1'], axis=1, inplace=True)
avg_58.columns=['ACPD_Avg_58']

#Final df with ID and avg_58
aniso_ACPD_4=pd.concat([specimens, avg_58], axis=1, sort=False)
aniso_df_4=aniso_ACPD_4.append(cracked)
aniso_df_4.reset_index(drop=True, inplace=True)
aniso_df_4

        ID ACPD_Avg_58
0      41C     4.80475
1      43C     3.86943
2      44C     3.37073
3      45C     4.18664
4       7C     3.43845
5      13C     3.72551
6       8C     3.52932
7      35C     3.05065
8      24C     4.25998
9      34C     3.57996
10      9C     3.95827
11     10C     2.57964
12     19C     3.22696
13     30C     3.30528
14     32C     2.90792
15     46C     3.52697
16     23C     3.06174
17     25C     3.28409
18     21C     2.76486
19     47C     3.70153
20     26C     3.82088
21     27C     2.74663
22     28C     2.83963
23     48C     4.22533
24     37C     2.37519
25     39C     3.18645
26     42C     4.04456
27     49C     3.61135
28     20C     2.64682
29     14C     3.29139
30     38C     3.54165
31     16C     2.44615
32     36C     43.5956
33     31C    -2.53706
34      6C     6.28238
35     29C     3.32915

## AECC

In [33]:
aniso_30=electric[5].iloc[6:19, [2,3,4,5,13,14,15,16]]
aniso_30.reset_index(inplace=True, drop=True)
aniso_30.columns = aniso_30. iloc[0] 
aniso_30=aniso_30.drop([0, 1])
aniso_30

0  specimens  NaN  NaN  NaN   average (5-8)       NaN       NaN       NaN
2        41C  43C  44C  45C        -0.13764  -0.46204 -0.596385  -0.64571
3         7C  13C   8C  35C        -1.13596 -0.660875  -0.95184  -0.86743
4        24C  34C   9C  10C       -0.816755  -1.01434 -0.917735  -0.79764
5        19C  30C  32C  46C        -1.06516  -0.96813  -0.61719  -1.06423
6        23C  25C  21C  47C        -0.83111 -0.912065   -0.8849  -1.13133
7        26C  27C  28C  48C         -0.6878  -1.27635  -0.86272 -0.926915
8        37C  39C  42C  49C        -0.86308  -1.19292  -0.92684 -0.666275
9        20C  14C  38C  16C        -1.22396  -0.82825  -1.02228  -1.10897
10       NaN  NaN  NaN  NaN             NaN       NaN       NaN       NaN
11       NaN  NaN  NaN  NaN             NaN       NaN       NaN       NaN
12        6C  36C  29C  31C        -0.98564 -0.690147 -0.948185  -1.18608

In [34]:
#Avg 5-8 for AECC 30kHz
aniso_30.drop([10, 11], axis=0, inplace=True)
avg_58=aniso_30.iloc[:, 4:]
avg_58.columns=['a1','a2','a3','a4'] 
avg_58=avg_58.stack().reset_index()
avg_58.drop(['level_0', 'level_1'], axis=1, inplace=True)
avg_58.columns=['ACEE_30_Avg_58']

#Getting ID columns for specimens
specimens=aniso_30.iloc[:, :4]
specimens.columns=['s1','s2','s3','s4'] # filling empty column names
specimens=specimens.stack().reset_index()
specimens.drop(['level_0', 'level_1'], axis=1, inplace=True)
specimens.columns=['ID']
specimens

#Final df with ID and avg_38 AECC
aniso_df_30=pd.concat([specimens, avg_58], axis=1, sort=False)
aniso_df_30.reset_index(drop=True, inplace=True)
aniso_df_30

     ID ACEE_30_Avg_58
0   41C       -0.13764
1   43C       -0.46204
2   44C      -0.596385
3   45C       -0.64571
4    7C       -1.13596
5   13C      -0.660875
6    8C       -0.95184
7   35C       -0.86743
8   24C      -0.816755
9   34C       -1.01434
10   9C      -0.917735
11  10C       -0.79764
12  19C       -1.06516
13  30C       -0.96813
14  32C       -0.61719
15  46C       -1.06423
16  23C       -0.83111
17  25C      -0.912065
18  21C        -0.8849
19  47C       -1.13133
20  26C        -0.6878
21  27C       -1.27635
22  28C       -0.86272
23  48C      -0.926915
24  37C       -0.86308
25  39C       -1.19292
26  42C       -0.92684
27  49C      -0.666275
28  20C       -1.22396
29  14C       -0.82825
30  38C       -1.02228
31  16C       -1.10897
32   6C       -0.98564
33  36C      -0.690147
34  29C      -0.948185
35  31C       -1.18608

## AECC 500

In [35]:
aniso_500=electric[6].iloc[6:19, [2,3,4,5,13,14,15,16]]
aniso_500.reset_index(inplace=True, drop=True)
aniso_500.columns = aniso_500. iloc[0] 
aniso_500=aniso_500.drop([0, 1])

#Avg 3-8 for AECC 500kHz
aniso_500.drop([10, 11], axis=0, inplace=True)
avg_58=aniso_500.iloc[:, 4:]
avg_58.columns=['a1','a2','a3','a4'] 
avg_58=avg_58.stack().reset_index()
avg_58.drop(['level_0', 'level_1'], axis=1, inplace=True)
avg_58.columns=['ACEE_500_Avg_58']

#Getting ID columns for specimens
specimens=aniso_500.iloc[:, :4]
specimens.columns=['s1','s2','s3','s4'] # filling empty column names
specimens=specimens.stack().reset_index()
specimens.drop(['level_0', 'level_1'], axis=1, inplace=True)
specimens.columns=['ID']
specimens

#Final df with ID and avg_38 AECC 
aniso_df_500=pd.concat([specimens, avg_58], axis=1, sort=False)
aniso_df_500.reset_index(drop=True, inplace=True)
aniso_df_500

     ID ACEE_500_Avg_58
0   41C        -2.86603
1   43C        -2.25413
2   44C         -2.7885
3   45C        -3.20222
4    7C        -1.71811
5   13C        -2.16739
6    8C        -1.50255
7   35C        -1.35007
8   24C        -1.83693
9   34C        -1.52175
10   9C        -1.67576
11  10C          -1.795
12  19C        -1.57074
13  30C        -1.24822
14  32C        -1.31241
15  46C         -1.1761
16  23C        -1.19454
17  25C       -0.927155
18  21C        -1.57879
19  47C        -1.60563
20  26C          -1.269
21  27C        -1.60215
22  28C        -1.28096
23  48C        -1.70426
24  37C        -1.69359
25  39C        -1.12691
26  42C        -1.24377
27  49C        -1.36411
28  20C        -1.22396
29  14C        -0.82825
30  38C        -1.43226
31  16C        -1.80855
32   6C         -1.9006
33  36C       -0.390147
34  29C        -1.33139
35  31C        -1.18608

In [37]:
df1=pd.merge(aniso_df_30, aniso_df_500,  on='ID', how='left').fillna(0)
df1=pd.merge(df1, aniso_df_4, on='ID', left_index=True, right_index=True).fillna(0)

df1

     ID  ACEE_30_Avg_58  ACEE_500_Avg_58  ACPD_Avg_58
0   41C       -0.137640        -2.866030     4.804749
1   43C       -0.462040        -2.254125     3.869428
2   44C       -0.596385        -2.788500     3.370729
3   45C       -0.645710        -3.202220     4.186639
4    7C       -1.135960        -1.718115     3.438451
5   13C       -0.660875        -2.167395     3.725514
6    8C       -0.951840        -1.502545     3.529319
7   35C       -0.867430        -1.350065     3.050650
8   24C       -0.816755        -1.836935     4.259982
9   34C       -1.014340        -1.521755     3.579960
10   9C       -0.917735        -1.675760     3.958266
11  10C       -0.797640        -1.795000     2.579638
12  19C       -1.065155        -1.570740     3.226957
13  30C       -0.968130        -1.248220     3.305279
14  32C       -0.617190        -1.312415     2.907922
15  46C       -1.064230        -1.176100     3.526969
16  23C       -0.831110        -1.194540     3.061743
17  25C       -0.912065        -0.927155     3.284087
18  21C       -0.884900        -1.578795     2.764862
19  47C       -1.131330        -1.605635     3.701526
20  26C       -0.687800        -1.269005     3.820881
21  27C       -1.276355        -1.602150     2.746634
22  28C       -0.862720        -1.280955     2.839627
23  48C       -0.926915        -1.704260     4.225329
24  37C       -0.863080        -1.693590     2.375193
25  39C       -1.192915        -1.126910     3.186447
26  42C       -0.926840        -1.243770     4.044555
27  49C       -0.666275        -1.364115     3.611348
28  20C       -1.223960        -1.223960     2.646820
29  14C       -0.828250        -0.828250     3.291392
30  38C       -1.022275        -1.432265     3.541646
31  16C       -1.108970        -1.808550     2.446152
32   6C       -0.985640        -1.900600    43.595593
33  36C       -0.690147        -0.390147    -2.537056
34  29C       -0.948185        -1.331390     6.282385
35  31C       -1.186080        -1.186080     3.329152

In [41]:
df1.to_csv(output)