In [1]:
import pandas as pd
import os

In [73]:
electric = os.path.join(os.path.dirname(os.getcwd()),'../Data/Raw_data/Electric_Anisotropy_&_Magnetic_Permeability_Data.xlsx')


#cracked_specimens = pd.read_excel(electric, sheet_name = None)
electric = pd.read_excel(electric,sheet_name=[3,4,5,6,7], header=None)

In [122]:
output = os.path.join(os.path.dirname(os.getcwd()),'../Data/Extracted_data/Electric_38.csv')

# Average 3-8 Dataframe
## ACPD

In [74]:
#Cracked Specimen
cracked = electric[3].iloc[7:20, 0:5]
cracked.set_index([0], inplace=True)
cracked.reset_index(inplace=True, drop=True)
cracked.columns=cracked.iloc[0]
cracked.drop([0,1,2,3,4,11,12], inplace=True)
cracked.reset_index(inplace=True, drop=True)
cracked=pd.DataFrame(cracked.mean())
cracked.columns=[""]
cracked=cracked.reset_index()
cracked.columns=["ID","ACPD_Avg_38"]

cracked

       ID  ACPD_Avg_38
0     36C    29.799892
1     31C    -1.054613
2      6C     4.645703
3     29C     2.588874

In [75]:
#ACPD anisotropy (4 Hz) sheet taking the average data for 3-8
aniso_4=electric[4].iloc[6:16, 2:10]
aniso_4.reset_index(inplace=True, drop=True)
aniso_4.columns = aniso_4. iloc[0] 
aniso_4=aniso_4.drop([0, 1])

#Getting ID columns for specimens
specimens=aniso_4.iloc[:, :4]
specimens.columns=['s1','s2','s3','s4'] # filling empty column names
specimens=specimens.stack().reset_index()
specimens.drop(['level_0', 'level_1'], axis=1, inplace=True)
specimens.columns=['ID']


avg_38=aniso_4.iloc[:, 4:]
avg_38.columns=['a1','a2','a3','a4'] 
avg_38=avg_38.stack().reset_index()
avg_38.drop(['level_0', 'level_1'], axis=1, inplace=True)
avg_38.columns=['ACPD_Avg_38']

#Final df with ID and avg_38
aniso_ACPD_4=pd.concat([specimens, avg_38], axis=1, sort=False)
aniso_df_4=aniso_ACPD_4.append(cracked)
aniso_df_4.reset_index(drop=True, inplace=True)
aniso_df_4

        ID ACPD_Avg_38
0      41C     3.72605
1      43C     3.06443
2      44C     2.72038
3      45C     3.06473
4       7C      2.9573
5      13C      3.0789
6       8C      2.7874
7      35C     2.64784
8      24C     3.04125
9      34C     2.81118
10      9C     3.28637
11     10C     1.99366
12     19C      2.4739
13     30C     2.60525
14     32C     2.29296
15     46C     2.81867
16     23C     2.53628
17     25C     2.43577
18     21C     2.30598
19     47C      3.0666
20     26C     3.15187
21     27C     2.15068
22     28C      2.2204
23     48C     3.37618
24     37C      2.1114
25     39C      2.6911
26     42C     3.03789
27     49C     2.74129
28     20C     2.39921
29     14C     2.51568
30     38C     2.91812
31     16C     1.62343
32     36C     29.7999
33     31C    -1.05461
34      6C      4.6457
35     29C     2.58887

## AECC anisotropy (30 kHz)

In [76]:
aniso_30=electric[5].iloc[6:19, 2:10]
aniso_30.reset_index(inplace=True, drop=True)
aniso_30.columns = aniso_30. iloc[0] 
aniso_30=aniso_30.drop([0, 1])
aniso_30

0  specimens  NaN  NaN  NaN   average (3-8)       NaN       NaN       NaN
2        41C  43C  44C  45C       -0.249983 -0.396353 -0.499607 -0.582543
3         7C  13C   8C  35C         -1.0796 -0.381817 -0.878553   -0.8139
4        24C  34C   9C  10C         -0.6277  -0.88564   -0.9288 -0.804607
5        19C  30C  32C  46C       -0.927853  -0.46122 -0.659747  -1.07725
6        23C  25C  21C  47C       -0.574873 -0.708933 -0.865243   -1.0849
7        26C  27C  28C  48C       -0.786437 -0.655593  -1.03632 -0.982023
8        37C  39C  42C  49C       -0.853183  -0.71543  -0.94899 -0.800113
9        20C  14C  38C  16C        -0.79527 -0.847057  -1.03153  -1.04849
10       NaN  NaN  NaN  NaN             NaN       NaN       NaN       NaN
11       NaN  NaN  NaN  NaN           0.318     0.349     0.785     1.074
12        6C  36C  29C  31C        -0.97146 -0.889952  -0.86723  -1.12508

In [77]:
#Avg 3-8 for AECC 30kHz
aniso_30.drop([10, 11], axis=0, inplace=True)
avg_38=aniso_30.iloc[:, 4:]
avg_38.columns=['a1','a2','a3','a4'] 
avg_38=avg_38.stack().reset_index()
avg_38.drop(['level_0', 'level_1'], axis=1, inplace=True)
avg_38.columns=['ACEE_30_Avg_38']

#Getting ID columns for specimens
specimens=aniso_30.iloc[:, :4]
specimens.columns=['s1','s2','s3','s4'] # filling empty column names
specimens=specimens.stack().reset_index()
specimens.drop(['level_0', 'level_1'], axis=1, inplace=True)
specimens.columns=['ID']
specimens

#Final df with ID and avg_38 AECC
aniso_df_30=pd.concat([specimens, avg_38], axis=1, sort=False)
aniso_df_30.reset_index(drop=True, inplace=True)
aniso_df_30

     ID ACEE_30_Avg_38
0   41C      -0.249983
1   43C      -0.396353
2   44C      -0.499607
3   45C      -0.582543
4    7C        -1.0796
5   13C      -0.381817
6    8C      -0.878553
7   35C        -0.8139
8   24C        -0.6277
9   34C       -0.88564
10   9C        -0.9288
11  10C      -0.804607
12  19C      -0.927853
13  30C       -0.46122
14  32C      -0.659747
15  46C       -1.07725
16  23C      -0.574873
17  25C      -0.708933
18  21C      -0.865243
19  47C        -1.0849
20  26C      -0.786437
21  27C      -0.655593
22  28C       -1.03632
23  48C      -0.982023
24  37C      -0.853183
25  39C       -0.71543
26  42C       -0.94899
27  49C      -0.800113
28  20C       -0.79527
29  14C      -0.847057
30  38C       -1.03153
31  16C       -1.04849
32   6C       -0.97146
33  36C      -0.889952
34  29C       -0.86723
35  31C       -1.12508

## AECC 500kHz

In [78]:
aniso_500=electric[6].iloc[6:19, 2:10]
aniso_500.reset_index(inplace=True, drop=True)
aniso_500.columns = aniso_500. iloc[0] 
aniso_500=aniso_500.drop([0, 1])

#Avg 3-8 for AECC 500kHz
aniso_500.drop([10, 11], axis=0, inplace=True)
avg_38=aniso_500.iloc[:, 4:]
avg_38.columns=['a1','a2','a3','a4'] 
avg_38=avg_38.stack().reset_index()
avg_38.drop(['level_0', 'level_1'], axis=1, inplace=True)
avg_38.columns=['ACEE_500_Avg_38']

#Getting ID columns for specimens
specimens=aniso_500.iloc[:, :4]
specimens.columns=['s1','s2','s3','s4'] # filling empty column names
specimens=specimens.stack().reset_index()
specimens.drop(['level_0', 'level_1'], axis=1, inplace=True)
specimens.columns=['ID']
specimens

#Final df with ID and avg_38 AECC 
aniso_df_500=pd.concat([specimens, avg_38], axis=1, sort=False)
aniso_df_500.reset_index(drop=True, inplace=True)
aniso_df_500

     ID ACEE_500_Avg_38
0   41C        -2.66472
1   43C        -2.39029
2   44C         -2.7473
3   45C        -3.05133
4    7C         -1.5043
5   13C        -1.54167
6    8C        -1.53048
7   35C        -1.29897
8   24C        -1.98575
9   34C        -1.37749
10   9C        -1.70369
11  10C        -1.77993
12  19C        -1.45854
13  30C       -0.983397
14  32C        -1.59908
15  46C        -1.18476
16  23C        -0.98549
17  25C        -0.92248
18  21C        -1.60916
19  47C        -1.41759
20  26C        -1.10887
21  27C        -1.27786
22  28C        -1.34945
23  48C        -1.58627
24  37C        -1.40744
25  39C       -0.809573
26  42C       -0.954117
27  49C        -1.40898
28  20C        -0.79527
29  14C       -0.847057
30  38C        -1.32214
31  16C        -1.76947
32   6C        -1.60016
33  36C       -0.589952
34  29C        -1.24587
35  31C        -1.12508

## EFC

In [79]:
EFC=electric[7].iloc[8:19, 2:10]
EFC.reset_index(inplace=True, drop=True)
EFC.columns = EFC. iloc[0]
EFC.drop([0, 9], axis=0, inplace=True)

EFC

0   NaN  NaN  NaN  NaN    [%Fe]    [%Fe]    [%Fe]    [%Fe]
1   41C  43C  44C  45C   97.424   95.836   96.436    96.91
2    7C  13C   8C  35C   94.287   91.837   91.764   92.165
3   24C  34C   9C  10C   93.023   91.811   92.648   92.248
4   19C  30C  32C  46C   92.331   93.014   91.723   92.496
5   23C  25C  21C  47C   92.736   92.551     92.9   93.503
6   26C  27C  28C  48C   91.771   92.814   92.122   92.294
7   37C  39C  42C  49C   91.765   93.975   91.739   92.258
8   20C  14C  38C  16C   91.807   88.812   90.549   91.679
10   6C  36C  29C  31C  87.8962  91.8682  90.3614  89.7501

In [80]:
#Getting ID columns for specimens
specimens=EFC.iloc[:, :4]
specimens.columns=['s1','s2','s3','s4'] # filling empty column names
specimens=specimens.stack().reset_index()
specimens.drop(['level_0', 'level_1'], axis=1, inplace=True)
specimens.columns=['ID']
specimens

     ID
0   41C
1   43C
2   44C
3   45C
4    7C
5   13C
6    8C
7   35C
8   24C
9   34C
10   9C
11  10C
12  19C
13  30C
14  32C
15  46C
16  23C
17  25C
18  21C
19  47C
20  26C
21  27C
22  28C
23  48C
24  37C
25  39C
26  42C
27  49C
28  20C
29  14C
30  38C
31  16C
32   6C
33  36C
34  29C
35  31C

In [81]:
#EFC
EFC=EFC.iloc[:, 4:]
EFC.columns=['a1','a2','a3','a4'] 
EFC=EFC.stack().reset_index()
EFC.drop(['level_0', 'level_1'], axis=1, inplace=True)
EFC.columns=['Avg_EFC']


#Final df with ID and EFC
EFC=pd.concat([specimens, EFC], axis=1, sort=False)
EFC.reset_index(drop=True, inplace=True)
EFC

     ID  Avg_EFC
0   41C   97.424
1   43C   95.836
2   44C   96.436
3   45C    96.91
4    7C   94.287
5   13C   91.837
6    8C   91.764
7   35C   92.165
8   24C   93.023
9   34C   91.811
10   9C   92.648
11  10C   92.248
12  19C   92.331
13  30C   93.014
14  32C   91.723
15  46C   92.496
16  23C   92.736
17  25C   92.551
18  21C     92.9
19  47C   93.503
20  26C   91.771
21  27C   92.814
22  28C   92.122
23  48C   92.294
24  37C   91.765
25  39C   93.975
26  42C   91.739
27  49C   92.258
28  20C   91.807
29  14C   88.812
30  38C   90.549
31  16C   91.679
32   6C  87.8962
33  36C  91.8682
34  29C  90.3614
35  31C  89.7501

## Relative Permeability

In [82]:
RP=electric[7].iloc[21:32, 2:10]
RP.reset_index(inplace=True, drop=True)
RP.columns = RP. iloc[0]
RP.drop([0, 9], axis=0, inplace=True)

RP

0   NaN  NaN  NaN  NaN      NaN      NaN      NaN      NaN
1   41C  43C  44C  45C  190.979   184.93  187.204  189.011
2    7C  13C   8C  35C  179.124   170.13  169.866  171.321
3   24C  34C   9C  10C  174.455  170.036  173.082  171.623
4   19C  30C  32C  46C  171.925  174.422  169.718  172.527
5   23C  25C  21C  47C  173.403  172.727  174.004  176.221
6   26C  27C  28C  48C  169.891  173.689  171.165   171.79
7   37C  39C  42C  49C   169.87  177.966  169.776  171.659
8   20C  14C  38C  16C  170.022  159.348  165.496  169.558
10   6C  36C  29C  31C  156.153  170.243  164.826  162.653

In [83]:
#Getting ID columns for specimens
specimens=RP.iloc[:, :4]
specimens.columns=['s1','s2','s3','s4'] # filling empty column names
specimens=specimens.stack().reset_index()
specimens.drop(['level_0', 'level_1'], axis=1, inplace=True)
specimens.columns=['ID']
specimens

     ID
0   41C
1   43C
2   44C
3   45C
4    7C
5   13C
6    8C
7   35C
8   24C
9   34C
10   9C
11  10C
12  19C
13  30C
14  32C
15  46C
16  23C
17  25C
18  21C
19  47C
20  26C
21  27C
22  28C
23  48C
24  37C
25  39C
26  42C
27  49C
28  20C
29  14C
30  38C
31  16C
32   6C
33  36C
34  29C
35  31C

In [84]:
#RP RELATIVE PERMEABILITY
RP=RP.iloc[:, 4:]
RP.columns=['a1','a2','a3','a4'] 
RP=RP.stack().reset_index()
RP.drop(['level_0', 'level_1'], axis=1, inplace=True)
RP.columns=['Avg_RP']


#Final df with ID and EFC
RP=pd.concat([specimens, RP], axis=1, sort=False)
RP.reset_index(drop=True, inplace=True)
RP

     ID   Avg_RP
0   41C  190.979
1   43C   184.93
2   44C  187.204
3   45C  189.011
4    7C  179.124
5   13C   170.13
6    8C  169.866
7   35C  171.321
8   24C  174.455
9   34C  170.036
10   9C  173.082
11  10C  171.623
12  19C  171.925
13  30C  174.422
14  32C  169.718
15  46C  172.527
16  23C  173.403
17  25C  172.727
18  21C  174.004
19  47C  176.221
20  26C  169.891
21  27C  173.689
22  28C  171.165
23  48C   171.79
24  37C   169.87
25  39C  177.966
26  42C  169.776
27  49C  171.659
28  20C  170.022
29  14C  159.348
30  38C  165.496
31  16C  169.558
32   6C  156.153
33  36C  170.243
34  29C  164.826
35  31C  162.653

### Merging the tables.

In [120]:
df1=pd.merge(aniso_df_30, aniso_df_500,  on='ID', how='left').fillna(0)
df1=pd.merge(df1, EFC, on='ID', how='left').fillna(0)
df1=pd.merge(df1, RP, on='ID', how='left').fillna(0)
df1

     ID  ACEE_30_Avg_38  ACEE_500_Avg_38   Avg_EFC      Avg_RP
0   41C       -0.249983        -2.664717  97.42400  190.979294
1   43C       -0.396353        -2.390293  95.83600  184.930215
2   44C       -0.499607        -2.747297  96.43600  187.204261
3   45C       -0.582543        -3.051327  96.91000  189.010633
4    7C       -1.079600        -1.504297  94.28700  179.123964
5   13C       -0.381817        -1.541673  91.83700  170.130491
6    8C       -0.878553        -1.530483  91.76400  169.866095
7   35C       -0.813900        -1.298970  92.16500  171.321012
8   24C       -0.627700        -1.985753  93.02300  174.454983
9   34C       -0.885640        -1.377487  91.81100  170.036299
10   9C       -0.928800        -1.703687  92.64800  173.081727
11  10C       -0.804607        -1.779930  92.24800  171.622934
12  19C       -0.927853        -1.458537  92.33100  171.925123
13  30C       -0.461220        -0.983397  93.01400  174.421961
14  32C       -0.659747        -1.599077  91.72300  169.717689
15  46C       -1.077253        -1.184757  92.49600  172.526654
16  23C       -0.574873        -0.985490  92.73600  173.403495
17  25C       -0.708933        -0.922480  92.55100  172.727399
18  21C       -0.865243        -1.609157  92.90000  174.003954
19  47C       -1.084903        -1.417590  93.50300  176.220714
20  26C       -0.786437        -1.108873  91.77100  169.891439
21  27C       -0.655593        -1.277863  92.81400  173.688949
22  28C       -1.036320        -1.349453  92.12200  171.164700
23  48C       -0.982023        -1.586273  92.29400  171.790379
24  37C       -0.853183        -1.407437  91.76500  169.869715
25  39C       -0.715430        -0.809573  93.97500  177.965732
26  42C       -0.948990        -0.954117  91.73900  169.775596
27  49C       -0.800113        -1.408980  92.25800  171.659328
28  20C       -0.795270        -0.795270  91.80700  170.021810
29  14C       -0.847057        -0.847057  88.81200  159.347604
30  38C       -1.031527        -1.322137  90.54900  165.495895
31  16C       -1.048487        -1.769470  91.67900  169.558497
32   6C       -0.971460        -1.600164  87.89620  156.153166
33  36C       -0.889952        -0.589952  91.86816  170.243411
34  29C       -0.867230        -1.245873  90.36140  164.826227
35  31C       -1.125080        -1.125080  89.75006  162.653425

In [121]:
df1=pd.merge(df1, aniso_df_4, on='ID', left_index=True, right_index=True).fillna(0)
df1

     ID  ACEE_30_Avg_38  ACEE_500_Avg_38   Avg_EFC      Avg_RP  ACPD_Avg_38
0   41C       -0.249983        -2.664717  97.42400  190.979294     3.726051
1   43C       -0.396353        -2.390293  95.83600  184.930215     3.064434
2   44C       -0.499607        -2.747297  96.43600  187.204261     2.720381
3   45C       -0.582543        -3.051327  96.91000  189.010633     3.064732
4    7C       -1.079600        -1.504297  94.28700  179.123964     2.957302
5   13C       -0.381817        -1.541673  91.83700  170.130491     3.078895
6    8C       -0.878553        -1.530483  91.76400  169.866095     2.787400
7   35C       -0.813900        -1.298970  92.16500  171.321012     2.647839
8   24C       -0.627700        -1.985753  93.02300  174.454983     3.041253
9   34C       -0.885640        -1.377487  91.81100  170.036299     2.811182
10   9C       -0.928800        -1.703687  92.64800  173.081727     3.286367
11  10C       -0.804607        -1.779930  92.24800  171.622934     1.993660
12  19C       -0.927853        -1.458537  92.33100  171.925123     2.473902
13  30C       -0.461220        -0.983397  93.01400  174.421961     2.605253
14  32C       -0.659747        -1.599077  91.72300  169.717689     2.292965
15  46C       -1.077253        -1.184757  92.49600  172.526654     2.818673
16  23C       -0.574873        -0.985490  92.73600  173.403495     2.536283
17  25C       -0.708933        -0.922480  92.55100  172.727399     2.435774
18  21C       -0.865243        -1.609157  92.90000  174.003954     2.305978
19  47C       -1.084903        -1.417590  93.50300  176.220714     3.066596
20  26C       -0.786437        -1.108873  91.77100  169.891439     3.151872
21  27C       -0.655593        -1.277863  92.81400  173.688949     2.150684
22  28C       -1.036320        -1.349453  92.12200  171.164700     2.220399
23  48C       -0.982023        -1.586273  92.29400  171.790379     3.376180
24  37C       -0.853183        -1.407437  91.76500  169.869715     2.111397
25  39C       -0.715430        -0.809573  93.97500  177.965732     2.691097
26  42C       -0.948990        -0.954117  91.73900  169.775596     3.037894
27  49C       -0.800113        -1.408980  92.25800  171.659328     2.741287
28  20C       -0.795270        -0.795270  91.80700  170.021810     2.399208
29  14C       -0.847057        -0.847057  88.81200  159.347604     2.515683
30  38C       -1.031527        -1.322137  90.54900  165.495895     2.918124
31  16C       -1.048487        -1.769470  91.67900  169.558497     1.623430
32   6C       -0.971460        -1.600164  87.89620  156.153166    29.799892
33  36C       -0.889952        -0.589952  91.86816  170.243411    -1.054613
34  29C       -0.867230        -1.245873  90.36140  164.826227     4.645703
35  31C       -1.125080        -1.125080  89.75006  162.653425     2.588874

In [123]:
df1.to_csv(output)