In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os, glob

In [35]:
path = os.path.join(os.path.dirname(os.getcwd()), '../Data/Extracted_data/')
os.chdir(path)

### MBN

In [63]:
MBN = pd.read_csv('MBN.csv', index_col='Sample')

MBN = MBN.groupby("Sample").mean()

MBN['peak_ratio'] = MBN['peak']/MBN['peak_ref']
MBN['fwhm_ratio'] = MBN['fwhm']/MBN['fwhm_ref']
MBN['diff_two_peaks_ratio'] = MBN['diff_two_peaks']/MBN['diff_two_peaks_ref']
MBN['amp_ratio'] = MBN['amp']/MBN['amp_ref']
MBN['pos_ratio'] = MBN['pos']/MBN['pos_ref']
MBN['energy_ratio'] = MBN['energy']/MBN['energy_ref']

MBN = MBN.drop(columns=['location', 'measure', 
                        'peak', 'peak_ref', 
                        'fwhm', 'fwhm_ref', 
                        'diff_two_peaks', 'diff_two_peaks_ref',
                        'amp', 'amp_ref',
                        'pos', 'pos_ref',
                        'energy', 'energy_ref'])
MBN = MBN[['diff_two_peaks_ratio', 'amp_ratio',
       'pos_ratio', 'energy_ratio']]
print(MBN.shape)
MBN.head()

(36, 4)

        diff_two_peaks_ratio  amp_ratio  pos_ratio  energy_ratio
Sample
10C                 0.230009   1.257148   0.992710      0.457476
13C                 1.163056   1.237837   1.002948      1.109720
14C                 1.677959   0.939024   0.966947      1.755207
16C                 0.684264   0.927139   0.987522      0.910617
19C                 0.763296   1.128928   1.002407      1.126849

### NLE

In [1]:
NLE = pd.read_csv('NLE.csv')
NLE['NLE_avg'] = NLE[['S10', 'S11', 'S12']].mean(axis=1)
NLE = pd.pivot_table(NLE, index='Sample' ,columns='freq', values='NLE_avg')
NLE = NLE.add_prefix('NLE_avg_')
NLE[['NLE_ratio_51_17', 'NLE_ratio_85_17', 'NLE_ratio_119_17']] = NLE[['NLE_avg_51', 'NLE_avg_85', 'NLE_avg_119']].div(NLE['NLE_avg_17'], axis=0)
NLE[['NLE_ratio_17_119', 'NLE_ratio_51_119', 'NLE_ratio_85_119']] = NLE[['NLE_avg_17', 'NLE_avg_51', 'NLE_avg_85']].div(NLE['NLE_avg_119'], axis=0)
NLE = NLE[['NLE_ratio_51', 'NLE_ratio_85', 'NLE_ratio_119']]
print(NLE.shape)
NLE.head()

NameError: name 'pd' is not defined

### Electric

In [65]:
electric = pd.read_csv('Electric_RP.csv', index_col='ID')
electric.drop('Unnamed: 0', axis=1, inplace=True)
electric = electric[['Avg_RP', 'ACEE_30_Avg_58', 'ACEE_500_Avg_58', 'ACPD_Avg_58']]
print(electric.shape)
electric.head()

(36, 4)

         Avg_RP  ACEE_30_Avg_58  ACEE_500_Avg_58  ACPD_Avg_58
ID
41C  190.979294       -0.137640        -2.866030     4.804749
43C  184.930215       -0.462040        -2.254125     3.869428
44C  187.204261       -0.596385        -2.788500     3.370729
45C  189.010633       -0.645710        -3.202220     4.186639
7C   179.123964       -1.135960        -1.718115     3.438451

### NLO

In [66]:
NLO = pd.read_csv('NLO_result.csv', index_col='Sample')
NLO.drop(['Stress', 'St Dev','Confidence'], axis=1, inplace=True)
NLO.rename(columns={'Average':'NLO_avg'}, inplace=True)
NLO = NLO.groupby('Sample').mean()
print(NLO.shape)
NLO.head()

(36, 1)

         NLO_avg
Sample
10C     4.240700
13C     9.687991
14C     4.588220
16C     3.755165
19C     3.798736

### Fatigue

In [67]:
fatigue = pd.read_excel('FatigueSampleInventory.xlsx', 
                        usecols=[' Specimen ID', 'Cycles at NDE Test', 'Cycles at Failure', 'Current Unfailed Cycles']
                       )
fatigue.rename(columns={' Specimen ID':'ID', 'Cycles at NDE Test':'NDE_cyle', 'Cycles at Failure':'failure_cycle', 'Current Unfailed Cycles':'unfailed_cycle'}, inplace=True)
fatigue.set_index('ID', inplace=True)
fatigue['f'] = fatigue['NDE_cyle']/fatigue['failure_cycle']
print(fatigue.shape)
fatigue.head()

(36, 4)

     NDE_cyle  failure_cycle  unfailed_cycle    f
ID
41C         0      2154137.0             NaN  0.0
43C         0            NaN             NaN  NaN
44C         0      1318034.0             NaN  0.0
45C         0            NaN       3245267.0  NaN
7C     150000            NaN             NaN  NaN

Merge all data

In [68]:
merged = fatigue.join([MBN, NLE, NLO, electric], how='left')

In [69]:
merged.to_csv(os.path.join(os.path.dirname(os.getcwd()), '../Data/Merged_data/MERGE_on_sample.csv'))

In [70]:
merged.sort_index()

,NDE_cyle,failure_cycle,unfailed_cycle,f,diff_two_peaks_ratio,amp_ratio,pos_ratio,energy_ratio,NLE_ratio_51,NLE_ratio_85,NLE_ratio_119,NLO_avg,Avg_RP,ACEE_30_Avg_58,ACEE_500_Avg_58,ACPD_Avg_58
ID,,,,,,,,,,,,,,,,
10C,300000,NaN,NaN,NaN,0.230009,1.257148,0.992710,0.457476,0.918086,1.125854,0.502010,4.240700,171.622934,-0.797640,-1.795000,2.579638
13C,150000,NaN,NaN,NaN,1.163056,1.237837,1.002948,1.109720,0.919655,1.101159,0.467760,9.687991,170.130491,-0.660875,-2.167395,3.725514
14C,2000000,NaN,NaN,NaN,1.677959,0.939024,0.966947,1.755207,0.903120,1.079935,0.473686,4.588220,159.347604,-0.828250,-0.828250,3.291392
16C,2000000,NaN,NaN,NaN,0.684264,0.927139,0.987522,0.910617,0.900150,1.053618,0.440301,3.755165,169.558497,-1.108970,-1.808550,2.446152
19C,450000,914392.0,NaN,0.492130,0.763296,1.128928,1.002407,1.126849,0.978877,1.235508,0.530102,3.798736,171.925123,-1.065155,-1.570740,3.226957
20C,2000000,NaN,NaN,NaN,0.499761,0.975842,0.995773,0.981373,0.894880,1.078073,0.473923,3.791726,170.021810,-1.223960,-1.223960,2.646820
21C,600000,800007.0,NaN,0.749993,0.705402,1.151889,0.984968,0.853808,0.929446,1.119635,0.493245,4.626314,174.003954,-0.884900,-1.578795,2.764862
23C,600000,NaN,2855225.0,NaN,0.397580,0.919473,0.999861,0.846653,0.918699,1.114762,0.495867,5.621833,173.403495,-0.831110,-1.194540,3.061743
24C,300000,NaN,NaN,NaN,0.588694,1.061223,1.005517,1.030618,0.844482,1.030615,0.438170,5.064456,174.454983,-0.816755,-1.836935,4.259982
25C,600000,NaN,2044844.0,NaN,0.821445,1.178319,1.003158,1.141313,0.881052,1.083718,0.477500,3.061693,172.727399,-0.912065,-0.927155,3.284087
26C,750000,NaN,3579121.0,NaN,0.453026,1.052153,1.003191,0.868000,0.890721,1.091059,0.494946,4.831161,169.891439,-0.687800,-1.269005,3.820881
27C,750000,1047627.0,NaN,0.715904,0.144147,0.777585,1.002966,0.394731,0.912962,1.112708,0.500035,5.020607,173.688949,-1.276355,-1.602150,2.746634
28C,750000,NaN,2287912.0,NaN,0.307444,1.046796,1.015363,0.618972,0.884778,1.037133,0.432253,7.862192,171.164700,-0.862720,-1.280955,2.839627
29C,784540,784540.0,NaN,1.000000,1.106557,1.051742,0.991131,0.613115,0.854090,1.015312,0.432429,3.280494,164.826227,-0.948185,-1.331390,3.413651
30C,450000,NaN,NaN,NaN,0.388101,1.069920,1.004996,0.932989,0.924855,1.195796,0.515596,3.513676,174.421961,-0.968130,-1.248220,3.305279
31C,1073548,1073548.0,NaN,1.000000,0.655824,0.876843,1.008769,0.824731,0.914088,1.093083,0.457458,6.779591,162.653425,-1.186080,-1.186080,3.329152
32C,450000,756142.0,NaN,0.595126,0.610771,1.137713,0.994283,0.844962,0.844824,1.091099,0.459167,4.296261,169.717689,-0.617190,-1.312415,2.907922
34C,300000,NaN,NaN,NaN,0.589633,0.999639,1.002006,0.821495,0.780283,0.999564,0.453855,4.849455,170.036299,-1.014340,-1.521755,3.579960
35C,150000,NaN,NaN,NaN,0.346770,1.188801,1.002494,0.688566,0.967767,1.163921,0.512819,3.760074,171.321012,-0.867430,-1.350065,3.050650
36C,348957,348957.0,NaN,1.000000,0.766181,1.329966,0.956178,1.051439,0.919449,1.108457,0.477692,5.110638,170.243411,-0.690147,-0.390147,2.417590
37C,900000,1414878.0,NaN,0.636097,0.297536,0.963953,1.010528,0.745594,0.893215,1.131410,0.485316,3.446921,169.869715,-0.863080,-1.693590,2.375193
38C,2000000,NaN,NaN,NaN,0.456334,0.880001,0.986201,0.705342,0.954308,1.121405,0.469438,3.908727,165.495895,-1.022275,-1.432265,3.541646
39C,900000,NaN,3001992.0,NaN,0.868265,0.656073,1.001696,0.694331,0.890808,1.144669,0.486304,6.348334,177.965732,-1.192915,-1.126910,3.186447
41C,0,2154137.0,NaN,0.000000,2.104871,1.185236,1.002988,1.559453,0.893268,1.107898,0.462483,5.576476,190.979294,-0.137640,-2.866030,4.804749
42C,900000,1503724.0,NaN,0.598514,0.514206,1.206035,0.989698,0.817819,0.916364,1.162674,0.493727,6.875911,169.775596,-0.926840,-1.243770,4.044555
43C,0,NaN,NaN,NaN,1.396620,0.996217,1.005710,1.393382,0.878759,1.115332,0.473463,3.422903,184.930215,-0.462040,-2.254125,3.869428
44C,0,1318034.0,NaN,0.000000,2.280959,1.365329,0.998446,1.504218,0.888503,1.140535,0.477160,4.619563,187.204261,-0.596385,-2.788500,3.370729
45C,0,NaN,3245267.0,NaN,1.245687,0.809970,0.989351,1.282046,0.896534,1.137561,0.491483,3.458337,189.010633,-0.645710,-3.202220,4.186639
46C,450000,NaN,NaN,NaN,0.742724,0.917101,0.977985,0.946441,0.892038,1.188698,0.510035,6.444959,172.526654,-1.064230,-1.176100,3.526969
47C,600000,NaN,NaN,NaN,0.573992,1.101205,0.980741,0.784059,0.871055,1.046897,0.443100,4.891617,176.220714,-1.131330,-1.605635,3.701526
48C,750000,NaN,2016052.0,NaN,0.651178,0.725577,0.992231,0.852229,0.895628,1.100060,0.483285,6.164777,171.790379,-0.926915,-1.704260,4.225329
49C,900000,NaN,3043805.0,NaN,0.444218,1.206881,0.982972,0.798325,0.875919,1.138621,0.490049,6.897756,171.659328,-0.666275,-1.364115,3.611348
6C,318528,318528.0,NaN,1.000000,1.347880,1.342711,0.987608,1.316117,0.908794,1.134318,0.500739,5.857380,156.153166,-0.985640,-1.900600,2.937365
7C,150000,NaN,NaN,NaN,0.385614,1.305600,1.002897,1.109924,0.936855,1.139517,0.487512,4.720874,179.123964,-1.135960,-1.718115,3.438451
8C,150000,NaN,NaN,NaN,0.820318,1.319565,0.996523,0.697468,0.933717,1.135902,0.481602,3.477006,169.866095,-0.951840,-1.502545,3.529319
9C,300000,NaN,NaN,NaN,0.771186,0.968763,0.989740,0.716189,0.904619,1.086779,0.464924,5.642206,173.081727,-0.917735,-1.675760,3.958266

In [71]:
merged.shape

(36, 16)