In [19]:
import pandas as pd
import os

In [20]:
inp_ut_att_all=os.path.join(os.path.dirname(os.getcwd()),'../Data/Merged_data/ALL_TUBE_PIPE_merge_1.csv')

out_ut_att_all=os.path.join(os.path.dirname(os.getcwd()),'../Data/Merged_data/ALL_TUBE_PIPE_merge_2.csv')

ut_auc_all=pd.read_csv(inp_ut_att_all, index_col=0)

In [22]:
ut_auc_all.head()

,TEP_mean_uV_C,TEP_error_uV_C,Absorption_avg_500,Absorption_std_500,backscatter_avg,backscatter_std,Absorption_avg_50,Absorption_std_50,A,A std,...,Absorption_avg_100,Absorption_std_100,Absorption_avg_200,Absorption_std_200,median_CF,median_perm,median_MBN,median_CF_g,median_perm_g,median_pMBN_g
T_B1,12.947951,0.073112,0.000234,0.000018,0.0175,0.0042,0.001264,0.000519,4.410000e-13,4.090000e-07,...,0.000682,0.000193,0.000373,0.000094,1.1000,68.50,0.4730,NaN,NaN,NaN
T_B2,12.920068,0.077814,0.000571,0.000139,0.0240,0.0057,0.002486,0.000816,1.520000e-06,1.510000e-06,...,0.001069,0.000365,0.000874,0.000234,1.1095,66.45,0.6305,NaN,NaN,NaN
T_B3,12.932865,0.088762,0.000244,0.000030,0.0134,0.0028,0.001168,0.000555,4.270000e-13,5.640000e-07,...,0.000658,0.000246,0.000349,0.000078,1.0795,68.40,0.5765,NaN,NaN,NaN
T_B4,10.763517,0.071173,0.000379,0.000100,0.0146,0.0031,0.002084,0.000648,7.580000e-07,1.000000e-06,...,0.000921,0.000223,0.000701,0.000136,4.5140,32.90,0.5005,NaN,NaN,NaN
T_B5,12.942958,0.074808,0.000230,0.000033,0.0182,0.0040,0.001141,0.000447,3.970000e-13,4.670000e-07,...,0.000571,0.000113,0.000397,0.000088,1.4290,64.95,0.5380,NaN,NaN,NaN

In [23]:
ut_auc_all.columns.tolist()

['TEP_mean_uV_C',
 'TEP_error_uV_C',
 'Absorption_avg_500',
 'Absorption_std_500',
 'backscatter_avg',
 'backscatter_std',
 'Absorption_avg_50',
 'Absorption_std_50',
 'A',
 'A std',
 'B',
 'B std',
 'p',
 'p std',
 'Absorption_avg_100',
 'Absorption_std_100',
 'Absorption_avg_200',
 'Absorption_std_200',
 'median_CF',
 'median_perm',
 'median_MBN',
 'median_CF_g',
 'median_perm_g',
 'median_pMBN_g']

In [24]:
#This is the integral function for the attenuation function (already integrated)!!!

def findAUC(A, B, p, f_init, f_end):
   def polyFunc(f):
       return A/5*f**5 + B/3*f**3 + p*f
   return polyFunc(f_end) - polyFunc(f_init)
f_init = 8*10**6
f_end=22*10**6
A=ut_auc_all['A']
B=ut_auc_all['B']
p=ut_auc_all['p']

In [25]:
#Area under the curve for each specimen ~ attenuation coefficient
print (findAUC(A,B,p,f_init,f_end))

T_B1       4.51663e+23
T_B2       1.55674e+30
T_B3       4.37324e+23
T_B4       7.76323e+29
T_B5         4.066e+23
T_B6       1.38264e+24
T_B7        4.9366e+23
T_B8       4.52685e+24
T_AR       4.53711e+23
T_N        1.47481e+29
T_N_T      2.12004e+30
T_T        4.19913e+23
T_OT       4.08647e+23
T_FF       2.73454e+29
T_HAZ      4.13768e+23
T_HAZ_T    4.33228e+23
P_FF       1.43384e+29
P_HAZ_T     2.0586e+23
P_OT       1.47481e+28
P_T        7.89637e+28
P_N_T      7.04631e+28
P_AR       1.13683e+28
P_HAZ      2.31463e+26
P_N        6.58543e+28
dtype: object

In [26]:
ut_auc_all["AUC"]=findAUC(A,B,p,f_init,f_end)

In [27]:
ut_auc_all.head()

,TEP_mean_uV_C,TEP_error_uV_C,Absorption_avg_500,Absorption_std_500,backscatter_avg,backscatter_std,Absorption_avg_50,Absorption_std_50,A,A std,...,Absorption_std_100,Absorption_avg_200,Absorption_std_200,median_CF,median_perm,median_MBN,median_CF_g,median_perm_g,median_pMBN_g,AUC
T_B1,12.947951,0.073112,0.000234,0.000018,0.0175,0.0042,0.001264,0.000519,4.410000e-13,4.090000e-07,...,0.000193,0.000373,0.000094,1.1000,68.50,0.4730,NaN,NaN,NaN,4.51663e+23
T_B2,12.920068,0.077814,0.000571,0.000139,0.0240,0.0057,0.002486,0.000816,1.520000e-06,1.510000e-06,...,0.000365,0.000874,0.000234,1.1095,66.45,0.6305,NaN,NaN,NaN,1.55674e+30
T_B3,12.932865,0.088762,0.000244,0.000030,0.0134,0.0028,0.001168,0.000555,4.270000e-13,5.640000e-07,...,0.000246,0.000349,0.000078,1.0795,68.40,0.5765,NaN,NaN,NaN,4.37324e+23
T_B4,10.763517,0.071173,0.000379,0.000100,0.0146,0.0031,0.002084,0.000648,7.580000e-07,1.000000e-06,...,0.000223,0.000701,0.000136,4.5140,32.90,0.5005,NaN,NaN,NaN,7.76323e+29
T_B5,12.942958,0.074808,0.000230,0.000033,0.0182,0.0040,0.001141,0.000447,3.970000e-13,4.670000e-07,...,0.000113,0.000397,0.000088,1.4290,64.95,0.5380,NaN,NaN,NaN,4.066e+23

In [29]:
ut_auc_all.to_csv(out_ut_att_all)