In [1]:
import pandas as pd
import os

In [2]:
intermediate_pipe = os.path.join(os.path.dirname(os.getcwd()),'../Data/Intermediate_data/PIPE_tep_summary.csv')
intermediate_tube = os.path.join(os.path.dirname(os.getcwd()),'../Data/Intermediate_data/TUBE_tep_summary.csv')

tep_pipe = pd.read_csv(intermediate_pipe)
tep_tube = pd.read_csv(intermediate_tube)

output_pipe = os.path.join(os.path.dirname(os.getcwd()),'../Data/Cleaned_data/PIPE_tep_param_mean.csv')
output_tube = os.path.join(os.path.dirname(os.getcwd()),'../Data/Cleaned_data/TUBE_tep_param_mean.csv')

In [3]:
tep_pipe

,material,condition,serial,HV,a1_uV_C,a2_uV_C,b1_uV_C,b2_uV_C,average_uV_C,max diff_uV_C,stdev_uV_C,error_uV_C
0,P1,As Received,1,220,13.196144,13.133616,13.131088,13.093518,13.138592,0.102626,0.042524,0.131276
1,P2,Normalized,2,428,10.808518,10.827206,10.824689,10.825561,10.821494,0.018688,0.008713,0.101507
2,P3,Norm + Tempered,3,208,13.107388,13.090924,13.142514,13.130983,13.117953,0.051590,0.023203,0.110243
3,P4,Tempered,4,207,13.159370,13.143438,13.156558,13.141474,13.150210,0.017896,0.009062,0.101629
4,P5,Over Tempered,5,198,13.187617,13.170924,13.162605,13.158761,13.169977,0.028856,0.012809,0.103229
5,P6,Full Ferrittic,6,147,13.067458,12.998228,13.026337,12.994180,13.021551,0.073278,0.033781,0.120684
6,P7,HAZ,7,405,11.745465,11.598809,11.749072,11.637810,11.682789,0.150262,0.076152,0.182199
7,P8,HAZ + Tempered,8,170,13.164094,13.122584,13.154149,13.128456,13.142321,0.041510,0.019964,0.107677

In [4]:
tep_tube

,material,condition,serial,HV,a1_uV_C,a2_uV_C,b1_uV_C,b2_uV_C,average_uV_C,max diff_uV_C,stdev_uV_C,error_uV_C
0,B1,unknown,1,not known,12.941400,12.960593,12.937399,12.952411,12.947951,0.023194,0.010551,0.073112
1,B2,unknown,2,not known,12.921174,12.935258,12.896085,12.927755,12.920068,0.039174,0.016993,0.077814
2,B3,unknown,3,not known,12.942201,12.920942,12.902526,12.965793,12.932865,0.063267,0.027289,0.088762
3,B4,unknown,4,not known,10.769937,10.755194,10.762029,10.766909,10.763517,0.014743,0.006434,0.071173
4,B5,unknown,5,not known,12.928157,12.955706,12.935665,12.952305,12.942958,0.027549,0.013193,0.074808
5,B6,unknown,6,not known,11.077232,11.014906,11.017921,11.041249,11.037827,0.062327,0.028787,0.090636
6,B7,unknown,7,not known,12.851160,12.917383,12.852873,12.907184,12.882150,0.066222,0.035050,0.099066
7,B8,unknown,8,not known,12.266564,12.227637,12.271753,12.265197,12.257788,0.044116,0.020298,0.080920
8,T1,As Received,9,220,12.925210,12.939753,12.934946,12.988214,12.947031,0.063004,0.028114,0.089787
9,T2,Normalized,10,428,10.788069,10.799795,10.806740,10.825901,10.805126,0.037831,0.015849,0.076842
10,T3,Norm + Tempered,11,208,12.904891,12.935611,12.898614,12.918896,12.914503,0.036997,0.016429,0.077328
11,T4,Tempered,12,207,12.942572,12.934569,12.919107,12.934511,12.932690,0.023465,0.009815,0.072700
12,T5,Over Tempered,13,198,12.270577,12.320626,12.268745,12.336962,12.299228,0.068217,0.034794,0.098704
13,T6,Full Ferrittic,14,147,12.849577,12.899398,12.831421,12.882672,12.865767,0.067977,0.030869,0.093335
14,T7,HAZ,15,405,10.993762,11.011501,11.017225,11.018590,11.010270,0.024828,0.011426,0.073635
15,T8,HAZ + Tempered,16,170,12.969012,12.975500,12.950695,13.001143,12.974088,0.050448,0.020872,0.081502

In [5]:
condition_ID = ["AR","N","NT","T","OT","FF","H","HT"]

In [6]:
unknown_tube_conditions = ("T_" + tep_tube.loc[:7,'material']).tolist()
known_tube_conditions = [i+j for i,j in zip (["T_"]*8,condition_ID)]

tep_tube_clean = pd.DataFrame({
    'Condition':unknown_tube_conditions + known_tube_conditions,
   'TEP_mean_uV_C':tep_tube['average_uV_C'],
   'TEP_stdev_uV_C':tep_tube['stdev_uV_C']})
tep_tube_clean.to_csv(output_tube,index=False)
tep_tube_clean

   Condition  TEP_mean_uV_C  TEP_stdev_uV_C
0       T_B1      12.947951        0.010551
1       T_B2      12.920068        0.016993
2       T_B3      12.932865        0.027289
3       T_B4      10.763517        0.006434
4       T_B5      12.942958        0.013193
5       T_B6      11.037827        0.028787
6       T_B7      12.882150        0.035050
7       T_B8      12.257788        0.020298
8       T_AR      12.947031        0.028114
9        T_N      10.805126        0.015849
10      T_NT      12.914503        0.016429
11       T_T      12.932690        0.009815
12      T_OT      12.299228        0.034794
13      T_FF      12.865767        0.030869
14       T_H      11.010270        0.011426
15      T_HT      12.974088        0.020872

In [7]:
pipe_conditions = [i+j for i,j in zip (["P_"]*8,condition_ID)]

tep_pipe_clean = pd.DataFrame({
    'Condition': pipe_conditions,
   'TEP_mean_uV_C':tep_pipe['average_uV_C'],
   'TEP_stdev_uV_C':tep_pipe['stdev_uV_C']})
tep_pipe_clean.to_csv(output_pipe,index=False)
tep_pipe_clean

  Condition  TEP_mean_uV_C  TEP_stdev_uV_C
0      P_AR      13.138592        0.042524
1       P_N      10.821494        0.008713
2      P_NT      13.117953        0.023203
3       P_T      13.150210        0.009062
4      P_OT      13.169977        0.012809
5      P_FF      13.021551        0.033781
6       P_H      11.682789        0.076152
7      P_HT      13.142321        0.019964